.key {
    border-radius: 4px;
    border: 1px solid #818384;
    text-transform: uppercase;
    font-weight: bold;
    min-height: 30px;
    min-width: 20px;
    padding: 5px;
    align-content: center;
    background-color: #818384;
}

.key:hover {
    cursor: pointer;
}

.key.pressed {
    background-color: #3a3a3c;
    border: 1px solid #3a3a3c;
}