.modalContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    position: absolute;
}

.modal {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, 70%);
    padding: 1.5rem;
    background-color: #121213;
    border-radius: 10px;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 24px;
    width: 24px;
    align-content: center;
    font-weight: bold;
    font-size: 20px;
}

.closeButton:hover {
    cursor: pointer;
}

.playAgainButton {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    color: black;
    margin: 0 20%;
    font-weight: bold;
}

.playAgainButton:hover {
    cursor: pointer;
}